@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

.active {
  text-decoration: underline;
}


.h1 {
  color: #8b5e3c;
}
.h2 {
  color: #6e4528;
}

.input-bg{
    background-color: #f0ded05d;
}

.bg {
  background-color: #fcf8f4;
}
.btn-bg {
  background-color: #bfac9c;
  color: #3e2f1c;
}
.card-bg {
  background-color: #f0ded0;
}

body {
  @apply font-["Roboto",sans-serif];
  background-color: #fcf8f4;
  color: #4a4a4a;
}


[data-theme="dark"] body {
  background-color: #121212;
  color: #f5f5f5;
}


[data-theme="dark"] .bg {
  background-color: #2c2c2c;
}
[data-theme="dark"] .input-bg {
  background-color: #2c2c2c;
}

[data-theme="dark"] .btn-bg {
  background-color: #4a4a4a;
  color: #f5f5f5;
}

[data-theme="dark"] .card-bg {
  background-color: #3a3a3a;
  color: #f5f5f5;
}
