@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

.active{
    text-decoration: underline;
}
.h1{
    color: #8b5e3c;
}
.h2{
    color: #6e4528;
}
.bg{
    background-color: #fcf8f4;
}
.btn-bg{
    background-color: #bfac9c;
}
.card-bg{
    background-color: #f0ded0;
}
body{
    background-color: #fcf8f4;
    font-family: "Roboto", sans-serif;
}