@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

.active{
    text-decoration: underline;
}
.bg{
    background-color: #c1f8e4;
}
.btn-bg{
    background-color: #1ed089;
}
.card-bg{
    background-color: #7ff3c596;
}
body{
    background-color: #c1f8e4;
    font-family: "Roboto", sans-serif;
}